<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="
        width=device-width,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>获取活跃值</title>


    <!-- mobile 头部模板 -->
    <%- include  ../template/header/header-mobile-share.ejs %>

    <!-- 业务 -->
    <link rel="stylesheet" href="/cmw/task/css/get-active-value.css" />
    <script src="/cmw/config.js"></script>

</head>
<body>
<!--<div class="navbar">-->
    <!--<a href="javascript:goBack()"><i class="icon l-arrow ib"></i></a>-->
    <!--<span>获取活跃值</span>-->
<!--</div>-->
<div id="content"></div>


<script id="task-tem" type="text/html">
    <@for (var i=0;i
    <bizData.length;i++) {@>


    <div class="section  <@if(bizData[i].maxNum == bizData[i].completedNum && bizData[i].maxNum != 0 ){@>active<@}@>  fx-row fx-row-center">
        <div class="left ">
            <i class="icon <@=bizData[i].image @>"></i>
        </div>
        <div class="fx-col-1 ">
            <h3><@=bizData[i].title @></h3>
            <p class=""><@=bizData[i].ruleDesc @></p>
            <span><@=bizData[i].rewardDesc @></span>
        </div>
        <div class="right">
            <@if(bizData[i].url) {@>

                <@if(bizData[i].maxNum != 0 && bizData[i].maxNum == bizData[i].completedNum ) {@>

                <@}else{@>
                        <a href="javascript:goPage('<@=bizData[i].url @>')" class="btn btn-goto ntp">前往</a>
                <@}@>

            <@}else{@>

            <@}@>
        </div>
    </div>
    <@}@>
</script>
</body>

<script type="text/javascript">
    seajs.use("/cmw/task/js/task-list");
</script>