<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="../scss/module.css"/>
    <link rel="stylesheet" href="../scss/activity.css" type="text/css"/>
    <script type="text/javascript" src="../index.js"></script>
</head>
<body>
<img src="../imgs/activity2/activity2.png" class="img-default"/>
<div class="content">
    <div class="content-whole">
        <span class="font-og"><b>参与人群</b></span>
        <span class="detail-text">所有老师和家长老用户</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>活动时间</b></span>
        <span class="detail-text">2015.8.20-2015.8.26</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>参与方式</b></span>
        <span class="detail-text">本页面下方的<span class="zhiliao-class ib text-center">“去写好评”</span><span style="line-height: 36px">按钮，填写好评，并截图给“知了客服”即可获得100活跃值。</span></span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖项设置</b></span>
        <p class="value">
            活动期间内好评即送100活跃值。
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖励发放</b></span>
        <p class="value">用户给予好评后，将评价页面截图发送至“知了客服”，审核后发送活跃值。如图：</p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b style="color: #f89767">友情提示：</b></span>
        <p class="value">苹果手机用户请直接点击【填写好评】按钮进行评论，安卓用户请在应用宝，360手机助手，百度助手等应用商店搜索知了进行评论。</p>
    </div>

    <img src="../imgs/activity2/cut-img.png" class="text-center"/>
    <p class="text-center text-bottom">
        关于活动规则及奖励发放等问题请在“聊天”界面咨询【知了客服】<br/>
        本活动最终解释权归【知了团队】所有
    </p>
</div>
<div class="relate">
    <img src="../imgs/common/top-bar.png" class="top-bar">
    <div class="pic-default text-center">

        <a href="javascript:void(0)" onclick="goCicadaStore()">
            <img src="../imgs/activity2/act2-left.png" class="ib relate-pic"/>
        </a>

        <a href="javascript:void(0)" onclick="goCicadaStore()">
                <img src="../imgs/activity2/act2-right.png" class="ib relate-pic"/>
            </a>
    </div>
    <img src="../imgs/common/bottom-bar.png" class="bottom-bar"/>
</div>

<a href="javascript:void(0)" onclick="jump()">
    <img src="../imgs/common/wirte.png" class="attend"/>
</a>

</body>

<script type="text/javascript">

    function jump(){

        if(mb.type == "iOS"){
            window.location.href = "https://itunes.apple.com/cn/app/id948591472?mt=8";
        }
        else{
            window.location.href = "http://android.myapp.com/myapp/detail.htm?apkName=com.cicada.cicada";
        }

    }




</script>
</html>