<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="../scss/module.css"/>
    <link rel="stylesheet" href="../scss/activity.css" type="text/css"/>
    <script type="text/javascript" src="../index.js"></script>
</head>
<body>
<img src="../imgs/activity4/activity4.png" class="img-default"/>
<div class="content">
    <div class="content-whole">
        <span class="font-og"><b>参与人群</b></span>
        <span class="detail-text">知了家长用户</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>活动时间</b></span>
        <span class="detail-text">2015.8.20-2015.8.26</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>参与方式</b></span>
        <p class="message">在知了首页发布暑期宝宝的生活小片段，并附上描述。如下图所示：</p>
    </div>
    <div  class="content-whole text-center">
       <div class="ib">
           <img src="../imgs/activity4/message-left.png" class="ib message-pic">
           <div class="message-bottom-text">【发布示例】</div>
       </div>
       <div class="ib">
           <img src="../imgs/activity4/message-right.png" class="ib message-pic">
           <div class="message-bottom-text">【截图示例】</div>
       </div>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖项设置</b></span>
        <p class="value">
            1.活动期间内发布指定内容的消息，即可获送100活跃值；
        </p>
        <p class="value">
            2.活动期间内发布的消息，单条集5个赞获送80活跃值；单条集10个赞获送160活跃值；单条集20个赞获送200活跃值。

        </p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖励发放</b></span>
        <p class="value">
            1.发布消息后，请立即截图并发送【知了客服】即可获得100活跃值。
        </p>
        <p class="value">
            2.活动期间满足集赞的要求，截图并发送【知了客服】，即可获取指定数量活跃值。
        </p>
        <p class="value">
           3.所有活跃值在活动结束48小时内发送完成。
        </p>
    </div>
    <p class="text-center text-bottom">
        关于活动规则及奖励发放等问题请在“聊天”界面咨询【知了客服】<br/>
        本活动最终解释权归【知了团队】所有
    </p>
</div>
<div class="relate">
    <img src="../imgs/common/top-bar.png" class="top-bar">
    <div class="pic-default text-center">
        <a href="javascript:void(0)" onclick="goCicadaStore()">
            <img src="../imgs/activity4/act4-left.png" class="ib relate-pic"/>
            </a>
        <a href="javascript:void(0)" onclick="goCicadaStore()">
        <img src="../imgs/activity4/act4-right.png" class="ib relate-pic"/>
            </a>
    </div>
    <img src="../imgs/common/bottom-bar.png" class="bottom-bar"/>
</div>

<a href="javascript:void(0)" onclick="jump()">
    <img src="../imgs/common/attend.png" class="attend"/>
</a>
</body>

<script type="text/javascript">

    function jump(){
        goPage(mb.type,"publish");

    }

</script>
</html>