<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="../scss/module.css"/>
    <link rel="stylesheet" href="../scss/activity.css" type="text/css"/>
</head>
<body>
<img src="../imgs/new/banner.jpg" class="img-default"/>
<div class="content">
    <div class="content-whole">
        <span class="font-og"><b>参与人群</b></span>
        <span class="detail-text">知了新版本用户（版本号：1.6.0）</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>活动时间</b></span>
        <span class="detail-text">2015.8.18-2015.8.21</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>参与方式</b></span>
        <p class="value">
            1.安装最新版知了客户端<br/>
            a. 苹果手机卸载现有【知了】客户端，并下载最新版的知了【客户端】。<br/>
            说明：点击知了APP下方的我→设置→关于知了 查看知了版本号。<br/>
            b. 安卓用户：根据【知了】提示，自动升级到最新版。
            说明：点击知了APP下方的我→设置→关于知了 查看知了版本号。
        </p>
        <p class="value">
            2. 将使用过程中遇到的任何问题，通过“意见反馈”提交给知了
            说明：点击知了APP下方的我→意见反馈→文字描述遇到的问题
        </p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖项设置</b></span>
        <p class="value">
           三网通10元话费
        </p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖励发放</b></span>
        <p class="value">每天前10名提交意见的用户将直接获取10元话费，10名以后的用户则获取100活跃值进行鼓励。</p>
    </div>
    <p class="text-center text-bottom">
        关于活动规则及奖励发放等问题请在“聊天”界面咨询【知了客服】<br/>
        本活动最终解释权归【知了团队】所有
    </p>
</div>

</body>
</html>