



<div class="flex" id="cateTypeListSpread" >
        <div class="fx-wrap font-bule">
                <img src="/cmw/imgs/help/pull.png" class="pull" id="pull" onclick="changeFooter(0)"/>

            <section id="cateTypeListSpreadInner">

            </section>

        </div>


        <div class="fx-row foot">
            <div class="fx-col-1 border-default-right text-center foot-col ">
                <img src="/cmw/imgs/help/online_feedback.png"  class="foot-img ib"/>
                <p class="foot-text ib" style="font-size:15px;color:#4c73ba">在线人工反馈</p>
            </div>
            <div class="fx-col-1 text-center foot-col"  style="">
                <img src="/cmw/imgs/help/message_feedback.png"  class="foot-img ib"/>
                <p class="foot-text ib">意见反馈</p>
            </div>
        </div>

    </div>

</div>


<!-- 展开 -->
<script type="text/html" id="cateTypeListSpreadTmp">
    <@for(var i=0; i<list.length;i++){ @>
        <@if(i%2 == 0){ @>
        <div class="fx-row border-default-bottom" onclick="account()">
        <@}@>
            <div class="fx-col-1 border-default-right  icon-whole text-center" id="account">
                <a href="/cmw/help/basic?cateLog=<@=list[i].type @>" class="block">
                    <img src="<@=list[i].icon @>" class="img-big"/>
                    <p class="icon-whole-text"><@=list[i].name  @></p>
                    <p class="icon-whole-text-bottom"><@=list[i].desc @></p>
                </a>
            </div>
        <@if(i%2 != 0){ @>
            </div>
        <@}@>

    <@}@>

</script>



<!-- 缩进 -->
<script type="text/html" id="cateTypeListIndentTmp">
    <@for(var i=0; i<list.length;i++){ @>

    <div class=" text-center bottom-icon fx-col-1">
        <a href="/cmw/help/basic?cateLog=<@=list[i].type @>"  class="block">
            <img src="<@=list[i].icon  @>" class="icon-img"/>
            <p class="bottom-icon-text"><@=list[i].name  @></p>
        </a>
    </div>

    <@}@>

</script>




<div class="bottom-bar" id="cateTypeListIndent" style="display: none;"   >
    <img src="/cmw/imgs/help/push.png" class="push" id="push" onclick="changeFooter(1)"/>

    <section class="fx-row" id="cateTypeListIndentInner">

    </section>


</div>


<script type="text/html" id="cateTypeListIndentRenGong">
    <div class=" text-center bottom-icon fx-col-1">
        <img src="/cmw/imgs/help/icon_small/message_feedback.png" class="icon-img"/>
        <p class="bottom-icon-text">意见反馈</p>
    </div>
    <div class=" text-center bottom-icon fx-col-1">
        <img src="/cmw/imgs/help/icon_small/online_feedback.png" class="icon-img"/>
        <p class="bottom-icon-text">人工客服</p>
    </div>
</script>