

<div class="fx-row foot">
    <a class="cicada fx-col-1 border-default-right text-center foot-col " onclick="goCicada()">
        <img src="/cmw/imgs/help/online_feedback.png"  class="foot-img ib"/>
        <p class="foot-text ib">在线人工反馈</p>
    </a>
    <a class="feedBack fx-col-1 text-center foot-col"  href="javascript:void(0)"  onclick="goFeedBack()">
        <img src="/cmw/imgs/help/message_feedback.png"  class="foot-img ib"/>
        <p class="foot-text ib">意见反馈</p>
    </a>
</div>