



<div class="flex" id="cateTypeListSpread" style="display: none;"  >
        <div class="fx-wrap font-bule">
                <img src="/cmw/imgs/help/pull.png" class="pull" id="pull" onclick="changeFooter(0)"/>

            <section id="cateTypeListSpreadInner">

            </section>

        </div>



      <%- include  footDefault.ejs %>

    </div>

</div>


<!-- 展开 -->
<script type="text/html" id="cateTypeListSpreadTmp" >
    <@for(var i=0; i<list.length;i++){ @>
        <@if(i%2 == 0){ @>
        <div class="fx-row border-default-bottom" onclick="account()">
        <@}@>
            <div class="fx-col-1 border-default-right  icon-whole text-center" id="account">
                <a href="/cmw/help/basic?cateLog=<@=list[i].type @>" class="block">
                    <img src="<@=list[i].icon @>" class="img-big"/>
                    <p class="icon-whole-text"><@=list[i].name  @></p>
                    <p class="icon-whole-text-bottom"><@=list[i].desc @></p>
                </a>
            </div>
        <@if(i%2 != 0){ @>
            </div>
        <@}@>

    <@}@>

</script>



<!-- 缩进 -->
<script type="text/html" id="cateTypeListIndentTmp" >
    <@for(var i=0; i<list.length;i++){ @>

    <div class=" text-center bottom-icon fx-col-1">
        <a href="/cmw/help/basic?cateLog=<@=list[i].type @>"  class="block">
            <img src="<@=list[i].icon  @>" class="icon-img"/>
            <p class="bottom-icon-text"><@=list[i].name  @></p>
        </a>
    </div>

    <@}@>

</script>



<div class="bottom-bar" id="cateTypeListIndent"  style="display: none;" >
    <img src="/cmw/imgs/help/push.png" class="push" id="push" onclick="changeFooter(1)"/>

    <section class="fx-row" id="cateTypeListIndentInner">

    </section>

</div>


<script type="text/html" id="cateTypeListIndentRenGong">
    <div class=" text-center bottom-icon fx-col-1 feedBack"  >
        <img src="/cmw/imgs/help/icon_small/message_feedback.png" class="icon-img"/>
        <p class="bottom-icon-text">意见反馈</p>
    </div>
    <div class=" text-center bottom-icon fx-col-1 cicada" >
        <img src="/cmw/imgs/help/icon_small/online_feedback.png" class="icon-img"/>
        <p class="bottom-icon-text">人工客服</p>
    </div>
</script>