

<div class="fx-row foot">
    <div class="cicada fx-col-1 border-default-right text-center foot-col ">
        <img src="/cmw/imgs/help/online_feedback.png"  class="foot-img ib"/>
        <p class="foot-text ib">在线人工反馈</p>
    </div>
    <div class="feedBack fx-col-1 text-center foot-col"  style="">
        <img src="/cmw/imgs/help/message_feedback.png"  class="foot-img ib"/>
        <p class="foot-text ib">意见反馈</p>
    </div>
</div>