<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="
        width=device-width,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>知了-理解源自沟通</title>

    <!-- mobile 头部模板 -->
    <%- include  ../../template/header/header-mobile-share.ejs %>

    <!-- share 相关业务 -->
    <link rel="stylesheet" href="/share/invite/css/share.css?v=108">
    <link rel="stylesheet" href="/lib/wave/waves.css"/>

    <!--微信 配置 -->
    <script type="text/javascript"  src="/config.js?v=108"></script>
    <script type="text/javascript" src="/template/js/wx.js"></script>



</head>
<body>


<input type="hidden" id="phone" value="<%=phone %>" />
<input type="hidden" id="uId" value="<%=uId %>" />



<div class="warp">
    <div class="row">
        <img id="head"  src="" class="avatar" style="border-radius: 0;"/>
    </div>
    <div class="alert-info row">
        <span>恭喜您获得 <b id="credit">60</b>活跃值奖励</span>

        <p>使用知了获取更多活跃值</p>

        <p>众多精美礼品等您兑换</p>
    </div>
    <div class="row tips-info">
        <span>活跃值已放入账户<b class="part-number" id="phoneNum"></b></span>
    </div>
    <div class="row download">
            <span class="waves-effect waves-button">
                <a href="javascript:void(0);" id="downBtn" class="btn btn-green">下载知了</a>
            </span>
    </div>
</div>

<div class="warp-bottom"></div>

<script type="text/javascript"  src="/lib/wave/waves.min.js"></script>
<script type="text/javascript"  src="/template/js/template.js"></script>
<script type="text/javascript"  src="/share/invite/js/dowload.js?v=108"></script>


</body>
</html>