<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="
        width=device-width,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">

    <title>知了-理解源自沟通</title>

    <!-- mobile 头部模板 -->
    <%- include  ../../template/header/header-mobile-share.ejs %>


    <!-- share 相关业务 -->
    <link rel="stylesheet" href="/cmw/share/invite/css/share.css?v=108">
    <!--<link rel="stylesheet" href="/lib/css/ui/wave/waves.css"/>-->

    <!-- 配置 -->
    <script src="/cmw/config.js"></script>

</head>
<body>

<input type="hidden" value="<%=uId %>" id="uId"/>

<div class="warp">
    <div class="row text-center">
        <img src="" class="avatar text-left userIcon"/>
    </div>
    <div class="row">
        <div class="share-info " >
            <div class="text-one">

                我正在和<b class="parentCount"></b>位老师,
                <b class="teacherCount"></b>位家长 一起使用知了
            </div>
            <!--<div class="wrap-print text-two">一起使用知了</div>-->
            <div class=" wrap-print text-two">
                快来尝试<i class="new">新</i>的沟通方式吧!
            </div>
        </div>
    </div>
    <div class="row">
        <form action="" class="share-input">
            <div class="tips">输入手机号,领取奖励</div>
            <input type="tel" placeholder="请输入手机号" class="phone"/>
            <button type="button" class="getValueBtn button">领取奖励</button>
        </form>
    </div>
</div>
<!--&lt;!&ndash;弹框&ndash;&gt;-->
<!--<div class="topBox">-->
    <!--<p class="error-tip text-center"></p>-->
<!--</div>-->

<div class="warp-bottom"></div>



<script type="text/javascript">
    seajs.use(['/cmw/share/template/js/wx.js',"/cmw/share/invite/js/invite.js"]);
</script>

</body>
</html>