@charset "utf-8";

@import '../../lib/cicada/src/scss/fun/fun';
@import 'template';
@import 'icon';
body, html {
  background-color: #f6f6f6;
}
.itme{
  margin-bottom: 30px;
}
.section {
  padding: rem(25) rem(18);
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
  background-color: #fff;
  .left {
    i {
      display: block;
      margin-right: rem(18);
    }
  }
  h3 {
    font-size: rem(34);
    font-weight: normal;
  }
  p {
    color: #c3c3c3;
    font-size: rem(26);
    margin: rem(10) 0;
  }
  span {
    display: block;
    color: #f69e47;
    font-size: rem(26);
  }
}

.active {
  background-color: #ececec;
}

.btn-goto {
  width: rem(112);
  display: block;
}


