<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="/cmw/lib/css/base/module.css"/>
    <link rel="stylesheet" href="/cmw/activity/scss/activity.css" type="text/css"/>
</head>
<body>
<img src="/cmw/imgs/activity/activity3/activity3.png" class="img-default"/>
<div class="content">
    <div class="content-whole">
        <span class="font-og"><b>参与人群</b></span>
        <span class="detail-text">所有老师和家长用户</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>活动时间</b></span>
        <span class="detail-text">2015.8.15-2015.8.21</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>参与方式</b></span>
        <span class="detail-text">点击页面<span class="zhiliao-class ib text-center">“立即签到”</span><span style="line-height: 36px">按钮，跳转至“每日签到”页面进行签到。</span></span>
    </div>

    <img src="/cmw/imgs/activity/activity3/activity-value.png" class="text-center" style="margin-bottom: 25px">
    <div class="content-whole">
        <span class="font-og"><b>奖项设置</b></span>
        <p class="value">
            1.活动期间内连续2天签到额外获送50活跃值
        </p>
        <p class="value">
            2.活动期间内连续5天签到额外获送100活跃值
        </p>
        <p class="value">
            3.活动期间内连续7天签到额外获送200活跃值
        </p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖励发放</b></span>
        <p class="value">活动结束后，系统将根据签到记录自动发送活跃值。</p>
    </div>
    <p class="text-center text-bottom">
        关于活动规则及奖励发放等问题请在“聊天”界面咨询【知了客服】<br/>
        本活动最终解释权归【知了团队】所有
    </p>
</div>
<div class="relate">
    <img src="/cmw/imgs/activity/common/top-bar.png" class="top-bar">
    <div class="pic-default text-center">
        <img src="/cmw/imgs/activity/activity3/act3-left.png" class="ib relate-pic"/>
        <img src="/cmw/imgs/activity/activity3/act3-right.png" class="ib relate-pic"/>
    </div>
    <img src="/cmw/imgs/activity/common/bottom-bar.png" class="bottom-bar"/>
</div>

<img src="/cmw/imgs/activity/common/sign-in.png" class="attend"/>
</body>
</html>