<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="/cmw/lib/css/base/module.css"/>
    <link rel="stylesheet" href="/cmw/activity/scss/activity.css" type="text/css"/>
</head>
<body>
<img src="/cmw/imgs/activity/activity1/activity1.png" class="img-default"/>
<div class="content">
    <div class="content-whole">
        <span class="font-og"><b>参与人群</b></span>
        <span class="detail-text">知了老师用户</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>活动时间</b></span>
        <span class="detail-text">2015.8.15-2015.8.21</span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>参与方式</b></span>
        <span class="detail-text">进入<span class="zhiliao-class ib">知了讲堂</span><span style="line-height: 36px">,选择内容转发、集赞即可获得活跃值。</span></span>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖项设置</b></span>
        <p class="value">
            1.活动期间内转发【知了讲堂】任意一条育儿知识即可获送50活跃值。（限每天一次）
        </p>
        <p class="value">
            2.活动期间，通过【知了讲堂】转发的育儿知识，单条集赞满足以下条件，可额外获得活跃值奖励
        <p class="value">
            <span class="ib circle-og"></span>
            <span class="count">单条内容集5个赞获送80活跃值；</span>
        </p>
        <p class="value ">
            <span class="ib circle-og"></span>
            <span class="count">单条内容集10个赞获送160活跃值；</span>
        </p>
        <p class="value">
            <span class="ib circle-og"></span>
            <span class="count">单条内容集20个赞获送200活跃值。</span>
        </p>
        </p>
    </div>
    <div class="content-whole">
        <span class="font-og"><b>奖励发放</b></span>
        <p class="value">转发的次日18:00之前，截图并发送至“知了客服”，经审核后发送对应活跃值。</p>
    </div>
    <p class="text-center text-bottom">
        关于活动规则及奖励发放等问题请在“聊天”界面咨询【知了客服】<br/>
        本活动最终解释权归【知了团队】所有
    </p>
</div>
<div class="relate">
    <img src="/cmw/imgs/activity/common/top-bar.png" class="top-bar">
    <div class="pic-default text-center">
        <img src="/cmw/imgs/activity/activity1/act1-left.png" class="ib relate-pic"/>
        <img src="/cmw/imgs/activity/activity1/act1-right.png" class="ib relate-pic"/>
    </div>
    <img src="/cmw/imgs/activity/common/bottom-bar.png" class="bottom-bar"/>
</div>

<img src="/cmw/imgs/activity/common/attend.png" class="attend"/>
</body>
</html>