.fourLayer{

  .point-01{
    position: absolute;
    right: 119px;
    top: 88px;
  }

  .third-earth-svg{
    position: absolute;
    left: 15px;
    top: 16px;
  }

  .bs-red-cr{
    position: absolute;
    top: 0;
    left: 0;
  }

  .wg-tree{
    position: absolute;
    left: 0;
    top: 110px;

  }
  .wg-xt{
    position: absolute;
    right: -59px;
    top: 0;
  }

  .bs-point{
    position: absolute;
    top: 34px;
    left: 12px;
  }

  #third-main-svg{
    position: absolute;
    top: 33px;
    z-index: 5;
  }


}
