
.answerLayer{

  &.out{
    @include animation(zoomOut 1s ease 0s 1 both);
  }

  padding-top: rem(34);

  padding-left: rem(42);
  padding-right: rem(42);

  .answer-num{
    background: #ff5f32;
    color: #000;
    font-size: rem(28);
    padding: 7px 21px;
    margin-top: rem(56);
    margin-bottom: rem(48);
  }

  .answer-title{
    border: 1px dashed;
    padding: rem(30) rem(35);
    line-height: 20px;
    //height: 140px;
  }


  @media screen and (min-height: 500px) {
    .answer-title{
      height: 140px;
    }

  }

  .select-active{
    width: rem(131);
    height: rem(77);
    background-position: rem(-1069) rem(-954);
    position: absolute;
    left: 14px;
    top: -13px;
    display: none;

  }

  .answer-select{
    clear: both;
    overflow: hidden;
    margin-top: rem(30);

    li{
      &.active{
        .select-active{
          display: inline-block;
          @include animation(bounceIn 1s ease 0s 1 both);
        }
      }

      width: 50%;
      float: left;
      position: relative;

      &:nth-child(even) a{
        padding-left: 5px;
      }

      a{
        color: inherit;
        display: block;
        font-size: rem(30);

      }

      margin: rem(30) 0;
    }

  }

  .answer-bottom{

    .fruit{
      position: absolute;
      bottom: 0px;
      left: 50%;
      @include transform(translateX(-50%));
    }

    //提交按钮
    .btn-submit-ans{
      margin-top: rem(100);
      margin-left: -15px;
      display: none;
    }

    .btn-submit-ans:active{
      opacity: 0.7;
    }

  }

}


//3d空间
.seq-space{
  //视距
  -webkit-perspective: 800;
  //视点
  -webkit-perspective-origin: 50% 50%;

  perspective: 800;
  perspective-origin: 50% 50%;



  position: absolute;

  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -125px;
}

.tran-box-center{
  position: absolute;
  left: 50%;
  top: 50%;

  &.x{
    $tmp : translate(-50%, -50%) rotateY(180deg) rotateZ(180deg);
    @include transform($tmp);
  }

  &.y{
    $tmp : translate(-50%, -50%) rotateY(180deg);
    @include transform($tmp);
  }

}

.seq-layer{

  /** 3d模式 渲染 **/
  -moz-transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;

  width: rem(500);
  height: rem(500);
  position: relative;

  -webkit-transform-origin:50% 50% rem(-250);
  transform-origin:50% 50% rem(-250);

  @include transition(1s ease 0s);

  //前面
  .seq-before{
    position: absolute;
  }

  .seq-after{
    position: absolute;
    @include transform(translateZ(-250px));
  }

  .seq-bottom{
    position: absolute;
    @include origin(bottom);
    @include transform(rotateX(90deg));
  }

  .seq-top{
    position: absolute;
    @include origin(top);
    @include transform(rotateX(-90deg));
  }

  .seq-right{
    position: absolute;
    @include origin(right);
    @include transform(rotateY(-90deg));
  }

  .seq-left{
    position: absolute;
    @include origin(left);
    @include transform(rotateY(90deg));
  }



}

//动画部分
.seq-layer-ani{

  //@include animation(box3d 9s linear 0s 1 both);

  .seq-bottom{
    .tran-box-center{
      @include animation(fadeIn 1s ease 6s 1 both);
    }

  }

  .seq-top{
    .tran-box-center{
      @include animation(fadeIn 1s ease 2s 1 both);
    }
  }

  .seq-right{
    .tran-box-center{
      @include animation(fadeIn 1s ease 4s 1 both);
    }

  }

  .seq-left{
    .tran-box-center{
      @include animation(fadeIn 1s ease 8s 1 both);
    }
  }


  .font-share{
    @include animation(fadeOut 1s ease 2s 1 both);
  }

  .font-nianxin{
    @include animation(fadeOut 1s ease 4s 1 both);
  }

  .seq-right-font-out{
    @include animation(fadeOut 1s ease 6s 1 both);
  }
  .seq-bottom-font-out{
    @include animation(fadeOut 1s ease 8s 1 both);
  }

}



//分享部分
.shareLayer{


  .l1_img{
    @include animation(fadeInLeft 0.5s ease 0s 1  both);
  }

  .l2_img{
    @include animation(fadeInLeft 0.5s ease 0s 1  both);
  }

  .chrysanthemum-front-02{
    position: absolute;
    bottom: -43px;
    right: 38px;

    @include animation(fadeInUp 0.5s ease 0s 1  both);
  }

  .chrysanthemum-front-img{
    @include animation(spin-inverse  8s linear 0s infinite both);
  }

  .seq-space{
    @include animation(zoomIn 1s ease 0.6s 1 both);
  }

}



//盒子
@include keyframes(box3d){

  0%, 15.4%{  @include transform(rotateX(0deg));  }
  21.2%, 36.6%{   @include transform(rotateX(-90deg));  }
  42.4%, 57.8%{  @include transform(rotateY(-90deg));   }
  63.6%, 79%{  @include transform(rotateX(90deg));  }
  84.8%, 100%{ @include transform(rotateY(90deg));   }








}