@charset "utf-8";
.thirdLayer{

  .xinshou{
    @include animation(bounceInDown 1s ease  0s 1 both);
  }

  .ip-puzzle{
    @include animation(bounceInUp 1s ease  0.5s 1 both);
  }

  .puzzle{
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;

    @include animation(puzzle 1s ease  1s 1 both);
  }

  .puzzle-wrap{
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
    @include animation(swing 1s ease  1.8s 1 both);

  }

  @include keyframes(puzzle){
    $tem : rotate(-140deg);
    $temEnd : rotate(-16deg);
    0%{

      @include transform($tem);
    }

    100%{
      @include transform($temEnd);
    }
  }
}

