@charset "UTF-8";
/**
 * sherlock221b
 * rem常用设计函数
 */
/**
 * sherlock221b
 * 动画部分常用
 */
.avatar:hover {
  -webkit-animation: bounceIn 1s ease 0s 1 both, bounceIn 1s ease 0s 1 both;
  -ms-animation: bounceIn 1s ease 0s 1 both, bounceIn 1s ease 0s 1 both;
  -moz-animation: bounceIn 1s ease 0s 1 both, bounceIn 1s ease 0s 1 both;
  -o-animation: bounceIn 1s ease 0s 1 both, bounceIn 1s ease 0s 1 both;
  animation: bounceIn 1s ease 0s 1 both, bounceIn 1s ease 0s 1 both; }

.new {
  -webkit-animation: swing 1s ease-in-out 3s 1 both;
  -ms-animation: swing 1s ease-in-out 3s 1 both;
  -moz-animation: swing 1s ease-in-out 3s 1 both;
  -o-animation: swing 1s ease-in-out 3s 1 both;
  animation: swing 1s ease-in-out 3s 1 both; }

@-webkit-keyframes print {
  from {
    width: 0; } }
@-moz-keyframes print {
  from {
    width: 0; } }
@-o-keyframes print {
  from {
    width: 0; } }
@-ms-keyframes print {
  from {
    width: 0; } }
@keyframes print {
  from {
    width: 0; } }
html, body {
  font-size: 20px; }

body {
  background-color: #25324e;
  box-sizing: border-box;
  color: #fff; }

b {
  display: inline; }

.warp {
  margin: 20px;
  color: #fff;
  text-align: center; }

.row {
  display: block !important; }
  .row .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    display: inline-block; }
  .row .dialogue {
    position: relative;
    display: inline-block;
    bottom: -8px;
    margin-left: 35px; }
    .row .dialogue b {
      font-size: 20px; }
    .row .dialogue .dialogue-left {
      height: 47px;
      position: absolute;
      top: 0;
      left: -28px; }
    .row .dialogue .dialogue-right {
      background-color: #547ed7;
      display: inline-block;
      line-height: 47px;
      height: 47px;
      padding-right: 15px;
      border-radius: 0 11px 11px 0;
      -webkit-box-shadow: 0 4px 1px #20283f;
      font-size: 16px; }
  .row .share-info {
    width: 255px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
    margin-bottom: 40px;
    text-align: left;
    display: block; }
    .row .share-info .text-one {
      font-size: 15px;
      line-height: 30px; }
      .row .share-info .text-one b {
        font-size: 18px;
        display: inline-block;
        margin: 0 5px; }
    .row .share-info .text-two {
      font-size: 20px;
      line-height: 32.5px; }
      .row .share-info .text-two .new {
        height: 35px;
        line-height: 35px;
        width: 35px;
        border-radius: 50%;
        display: inline-block;
        background-color: #ecc465;
        font-style: normal;
        text-align: center;
        margin: 0 5px; }

.wrap-print {
  white-space: nowrap;
  width: 105%;
  overflow: hidden; }

.share-input {
  color: #64769c;
  font-size: 12px; }
  .share-input .tips {
    margin-bottom: 14px; }
  .share-input input[type=tel] {
    text-align: center;
    width: 216px;
    margin: 0 auto 22.5px;
    border-radius: 4px;
    color: #25324e;
    font-size: 16px;
    border: none;
    padding: 14px;
    box-sizing: border-box;
    display: block;
    line-height: 18px; }
  .share-input button {
    height: 44px;
    width: 216px;
    background-color: #e7505e;
    border: none;
    color: #fff;
    font-size: 16px !important;
    border-radius: 4px; }

.warp-bottom {
  background: url("../../../imgs/share/bottom-img.png") no-repeat;
  height: 72.5px;
  width: 100%;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.warp .alert-info {
  padding: 0 25px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  height: 155px;
  width: 280px;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 1px 6px 2px #20283f; }
  .warp .alert-info span {
    font-size: 18px;
    color: #25324e; }
    .warp .alert-info span b {
      color: #f19218;
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 24px;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px; }
  .warp .alert-info .mr {
    margin-top: 27.5px;
    margin-bottom: 15px;
    display: inline-block; }
  .warp .alert-info p {
    font-size: 13px;
    color: #8a8f98;
    margin-bottom: 7.5px; }
.warp .tips-info {
  display: inline-block;
  margin-bottom: 25px;
  color: #7c89a5;
  font-size: 13px; }
  .warp .tips-info b {
    font-weight: normal;
    color: #f4bb71; }

@media screen and (max-height: 480px) {
  .warp-bottom {
    display: none; } }
.btn {
  display: inline-block;
  width: 216px;
  height: 44px;
  line-height: 44px;
  color: #fff !important;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 3px 1px #20283f; }

.btn-green {
  background-color: #47c450; }
  .btn-green:hover {
    background-color: #34a43c; }

.btn-blue {
  background-color: #547ed7; }
  .btn-blue:hover {
    background-color: #2f60c9; }

.btn-red {
  background-color: #e7505e; }
  .btn-red:hover {
    background-color: #e12335; }

.message-alert-top {
  position: fixed;
  top: 2%;
  left: 50%;
  background-color: #ffffff;
  width: 150px;
  height: 30px;
  color: #4668a8;
  border-radius: 15px;
  z-index: 999;
  display: none; }

.img-top {
  width: 18px;
  height: 18px;
  margin-left: 11px;
  margin-top: 8px;
  float: left; }

.img-top-arrow {
  position: absolute;
  background-image: url("../../../imgs/share/share-arrow.png");
  background-size: 100% 100%;
  width: 15px;
  height: 15px; }

.share-text {
  font-size: 12px;
  letter-spacing: 0.8px; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  filter: alpha(opacity=40);
  opacity: 0.4;
  z-index: 998;
  display: none; }

/*# sourceMappingURL=share.css.map */
