<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>

    <!-- mobile 头部模板 -->
    <%- include  ../template/header/header-mobile-share.ejs %>

    <!--css 部分 -->
    <link rel="stylesheet" href="/cmw/help/scss/biz/template.css" type="text/css"/>
    <link rel="stylesheet" href="/cmw/help/scss/biz/init.css" type="text/css"/>

    <!-- 配置 -->
    <script src="/cmw/config.js"></script>

    <script type="text/javascript" src="/cmw/help/js/tpl/fastclick.min.js"></script>

    <title>基础操作</title>
</head>
<body>
<%- include  tpl/header.ejs %>

<div class="whole marginFooter">
    <p class="text-default">您可能遇到的问题</p>
    <div id='BasicList' class="content">

    </div>
    <div>
    <script id="BasicListTmp" type="text/html">

        <ul class="question-list">
            <@for(var i=0; i<list.length;i++){ @>
            <li class="list-name" id="list-name">
                <a  class="link-default text-ellipsis" href="/cmw/help/detail?id=<@=list[i].id @>&cateLogId=<@=list[i].catalogType@>" >
                    <@=list[i].title @>
                    <div class="list-mark"></div>
                </a>
            </li>
            <@}@>
        </ul>

    </script>

    </div>
    <div class="text-center basic" id="moreQues" style="display: none">更多基础操作问题
    </div>
    <p class="text-default text-center" id="noMoreQue" style="margin-top: 20px;">没有更多相关的问题了<br/>您可以点击底部按钮联系客服或者留下您的意见反馈</p>
</div>

<div class="foot-default">
    <%- include  tpl/footDefault.ejs %>
</div>

</body>

<!-- 业务 -->
<script type="text/javascript">
    seajs.use(["/cmw/help/js/template.js","/cmw/help/js/basic.js"]);
</script>

</html>