<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>

    <!-- mobile 头部模板 -->
    <%- include  ../template/header/header-mobile-share.ejs %>

    <!--css 部分 -->
    <link rel="stylesheet" href="/cmw/help/scss/biz/template.css" type="text/css"/>
    <link rel="stylesheet" href="/cmw/help/scss/biz/init.css" type="text/css"/>
    <link rel="stylesheet" href="/cmw/help/scss/fun/fun.css" type="text/css">

    <!-- 配置 -->
    <script src="/cmw/config.js"></script>

    <title>帮助与反馈</title>

</head>
<body>
<%- include tpl/header.ejs %>

<div class="whole">
    <div class="search-default" style="" id="searchInit">
       <a href="/cmw/help/search" style="width: 100%;height: 100%;">
           <input type="search" placeholder="遇到问题搜一搜~" class="search text-center border-default" /></a>
        <div class="search-icon" id="serch-icon"></div>
    </div>

 <p class="text-default">您可能遇到的问题</p>

 <div id='helpList' class="content">

     <script id="helpListTmp" type="text/html">
        <ul class="question-list" id="question-list">
            <@for(var i=0; i<list.length;i++){ @>
            <li class="list-name" id="list-name">
                <a  class="link-default" href="/cmw/help/detail?id=<@=list[i].id @>" >
                    <@=list[i].title @>
                    <div class="list-mark"></div>
                </a>
            </li>
            <@}@>
        </ul>

    </script>

  </div>
</div>
<%- include tpl/foot.ejs %>
</body>

<!-- 业务 -->
<script type="text/javascript">
    seajs.use(["/cmw/help/js/template.js","/cmw/help/js/index.js"]);
</script>

</html>
