<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telphone=no, email=no"/>

    <!-- mobile 头部模板 -->
    <%- include  ../template/header/header-mobile-share.ejs %>

    <!--css 部分 -->
    <link rel="stylesheet" href="/cmw/help/scss/biz/template.css" type="text/css"/>
    <link rel="stylesheet" href="/cmw/help/scss/biz/init.css" type="text/css"/>

    <!-- 配置 -->
    <script src="/cmw/config.js"></script>

    <title>帮助与反馈</title>
</head>
<body>

<%- include  tpl/header.ejs %>

<div class="whole">
    <div class="search-default fx-row">
        <div class="fx-col-1"><input id="search" type="search" autofocus="autofocus"  class="search border-left" /></div>
        <div class="search-bar text-center" id="searchBar">搜索</div>
    </div>
    <p class="text-default" id="metQue">您可能遇到的问题</p>

    <div id='searchList' class="content">

        <script id="searchListTmp" type="text/html">

            <ul class="question-list">
                <@for(var i=0; i<list.length;i++){ @>
                <li class="list-name" id="list-name">
                    <a  class="link-default" href="/cmw/help/detail?id=<@=list[i].id @>" >
                        <@=list[i].title @>
                        <div class="list-mark"></div>
                    </a>
                </li>
                <@}@>
            </ul>

        </script>

    </div>


</div>
<p class="research-result text-center no-result" id="noResult" style="display: none">暂时没有找到，点击搜索试试</p>
<p class="research-result text-center" id="noMoreQuestion"  style="display: none">没有更多相关问题了 您可以点击下方按钮联系客服或留下你的意见反馈</p>
<p class="research-result text-center no-result" id="noRelateQuestion"  style="display: none">未搜索到相关问题，请重新搜索<br/>您还可以点击下方按钮联系客服或留下您的意见反馈</p>
<div class="foot-default">
    <%- include  tpl/footDefault.ejs %>
</div>


</body>
</html>

<!-- 业务 -->
<script type="text/javascript">
    seajs.use(["/cmw/help/js/template.js","/cmw/help/js/search.js"]);
</script>
